<header>

  <nav class="nav">
    <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  routerLink="home">Home</a>
    <a class="nav-link"  routerLinkActive="active" routerLink="about">About</a>
    <a class="nav-link"  routerLinkActive="active" routerLink="contact">Contact</a>
    <a class="nav-link "  routerLinkActive="active"routerLink="product">Product</a>
    <a class="nav-link "  routerLinkActive="active"routerLink="crud">Crud</a>
    <a class="nav-link "  routerLinkActive="active"routerLink="crud-operation">Crud-Operation</a>
    <a class="nav-link "  routerLinkActive="active"routerLink="formarray">Formarray</a>
    <a class="nav-link "  routerLinkActive="active"routerLink="formvalidation">FormValidation</a>
  </nav>
  
  
</header>





<router-outlet></router-outlet>