<div class="row">
    <form [formGroup]="form"   (ngSubmit)="save()">
      <div class="col-md-6">
        <input formControlName="name" value="name"type="text">
        <input formControlName="address" value="address"type="text">
        <input formControlName="mobile" value="mobile" type="number">

      </div>

      <div class="col-md-1">
        <button class="btn btn-success" >create</button><br>
       
      </div>
   </form>
</div>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UesrNmae</th>
        <th scope="col">Address</th>
        <th scope="col">moblie</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user  of data;index as i">
        <th scope="row">{{i}}</th>
        <td>{{user.name}}</td>  
        <td>{{user.address}}</td> 
        <td>{{user.mobile}}</td>         
        <td>
            <button (click)="remove(i)">Remove</button>
         <button (click)="valuepatch(i)">edit</button>
        </td>
      
      </tr>
    
    </tbody>
  </table>
